* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.back-icon {
    width: 11px;
    height: 20px;
    margin-left: 10px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#ffffff; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ffffff; }
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ffffff; }
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#ffffff; }

/* 登录 */

.login {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px;
}

.logo {
    width: 145px;
    height: 50px;
    margin: 30px auto 40px auto;
}

.lr-input {
    position: relative;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    background: url("../images/input3@2x.png") no-repeat;
    background-size: 100% 50px;

}

.lr-icon {
    width: 18px;
    height: 26px;
    margin: 10px 5px 10px 25px;
}

.lr-input > input {
    position: absolute;
    left: 45px;
    margin: 0;
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;

}

.log-submit {
    width: 100%;
    height: 50px;
    border: none;
    background: url("../images/button5@2x.png") no-repeat;
    background-size: 100% 50px;
    color: #ec8a37;
    font-size: 16px;
    font-weight: bold;
}

.log-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.log-jump-icon {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
}

.forget-pwd-jump {
    position: relative;
    left: 10%;
    display: inline;
}

.register-jump {
    display: inline;
    position: relative;
    left: 45%;
}

.forget-pwd-jump, .register-jump > span {
    color: #ffffff;
    font-size: 16px;
}

/* 注册 */
.register {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

.valid-btn {
    position: absolute;
    right: 8px;
    height: 36px;
    margin-top: 7px;
    color: #f19329;
    background: url("../images/button10@2x.png");
    background-size: 100% 36px;
    border: none;
}

/* 底部导航栏 */
.bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background: #ffffff;
    border-top: 1px solid lightgray;
}

.bottom-nav > div {
    display: inline;
    width: 20%;
    height: 50px;
    float: left;
    position: relative;
}

.nav-icon {
    position: absolute;
    top: 5px;
    left: 0%;
    right: 0%;
    margin: auto;
    width: 20px;
    height: 20px;
}

.nav-name {
    position: absolute;
    top: 30px;
    text-align: center;
    margin: auto;
    width: 100%;
    font-size: 12px;
    color: #313131;
}

/* 首页 */
.home-header {
    height: 50px;
    background: #e98c06;
    position: relative;
}

.city {
    display: inline;
    width: 20%;
    text-align: center;
    margin-top: 13px;
    float: left;
}

.city-name {
    margin-top: 15px;
    font-size: 14px;
    color: #ffffff;
}

.city > img {
    width: 10px;
    height: 6px;
}

.home-search {
    display: inline;
    width: 60%;
    height: 35px;
    position: relative;
    margin-top: 7px;
    float: left;
    background: url("../images/searchbj@2x.png") no-repeat;
    background-size: 100% 35px;
}

.home-search > input {
    position: absolute;
    left: 25px;
    margin: 0;
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: 14px;
}

#home-search {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8px;
    top: 7px;
}

.customer {
    display: inline;
    width: 20%;
    height: 50px;
    float: left;
    position: relative;
}

.customer > img {
    width: 35px;
    height: 28px;
    position: absolute;
    top: 11px;
    left: 0%;
    right: 0%;
    margin: 0 auto;
}

.home-mid {
    display: inline;
    float: left;
    width: 25%;
    height: 100px;
    position: relative;
    text-align: center;
    background: #ffffff;
    border-bottom: 1px solid lightgray;
}

.home-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 0%;
    right: 0%;
    margin: 0 auto;
}

.home-func-name {
    font-size: 12px;
    color: #313131;
    position: absolute;
    top: 72px;
    left: 0%;
    right: 0%;
    margin: 0 auto;
}

.home-list {
    width: 100%;
    margin-top: 110px;
    background: #ffffff;
    border-top: 1px solid lightgray;
    height: 300px;
}

.home-slider-pic {
    width: 100%;
    height: 150px;
}

