* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.title {
    color: #ffffff;
    font-size: 16px;
}

.back-a {
}

.back-icon {
    margin: 12px 15px 12px 3px;
    width: 11px;
    height: 20px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#ffffff; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ffffff; }
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ffffff; }
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#ffffff; }

/* 登录 */

.login {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px;
}

.logo {
    width: 145px;
    height: 50px;
    margin: 30px auto 40px auto;
}

.lr-input {
    position: relative;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    background: url("../images/input3@2x.png") no-repeat;
    background-size: 100% 50px;

}

.lr-icon {
    width: 18px;
    height: 26px;
    margin: 10px 5px 10px 25px;
}

.lr-input > input {
    position: absolute;
    left: 45px;
    margin: 0;
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;

}

.log-submit {
    width: 100%;
    height: 50px;
    border: none;
    background: url("../images/button5@2x.png") no-repeat;
    background-size: 100% 50px;
    color: #ec8a37;
    font-size: 16px;
    font-weight: bold;
}

.log-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.log-jump-icon {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
}

.forget-pwd-jump {
    position: relative;
    left: 10%;
    display: inline;
}

.register-jump {
    display: inline;
    position: relative;
    left: 45%;
}

.forget-pwd-jump, .register-jump > span {
    color: #ffffff;
    font-size: 16px;
}

/* 注册 */
.register {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

.valid-btn {
    position: absolute;
    right: 8px;
    height: 36px;
    margin-top: 7px;
    color: #f19329;
    background: url("../images/button10@2x.png");
    background-size: 100% 36px;
    border: none;
}

/* 发布货源 */
.publish-item {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ebebeb;
    background: #ffffff;
    position: relative;
}

.item-label {
    font-size: 14px;
    color: #313131;
    margin-left: 10px;
    height: 39px;
    line-height: 39px;
}

.item-input[type=text] {
    font-size: 14px;
    color: #313131;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    right: 10px;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.publish-add {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    background: #ffffff;
    position: relative;
}

.item-hint {
    font-size: 14px;
    color: #959595;
    height: 39px;
    line-height: 39px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    right: 10px;
}

.pic-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.publish-pic {
    width: 33.3%;
    height: auto;
}

.publish-img {
    width: 100%;
    height: 60px;
}

.publish-video {
    width: 100%;
    height: auto;
}

.publish-video-bg {
    width: 100%;
    height: 190px;
    margin-bottom: 5px;
}

.publish-product-desc {
    font-size: 14px;
}

.publish-btn {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: #e98c06;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 16px;
}

.publish-word-count {
    font-size: 14px;
    color: #959595;
    position: absolute;
    right: 20px;
    bottom: 25px;
}