* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.title {
    color: #ffffff;
    font-size: 18px;
    display: inline;
    margin-left: 5px;
}

.back-icon {
    margin: 12px 15px 12px 10px;
    width: 11px;
    height: 20px;
}

.mui-btn {
    font-size: 16px;
    padding: 8px;
    margin: 3px;
}
h5.mui-content-padded {
    margin-left: 3px;
    margin-top: 20px !important;
}
h5.mui-content-padded:first-child {
    margin-top: 12px !important;
}
.ui-alert {
    text-align: center;
    font-size: 16px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:#ffffff; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#ffffff; }
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#ffffff; }
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#ffffff; }

/* 登录 */

.login {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px;
}

.logo {
    width: 145px;
    height: 50px;
    margin: 30px auto 40px auto;
}

.lr-input {
    position: relative;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    background: url("../images/input3@2x.png") no-repeat;
    background-size: 100% 50px;

}

.lr-icon {
    width: 18px;
    height: 26px;
    margin: 10px 5px 10px 25px;
}

.input-info[type=number], .input-info[type=password] {
    position: absolute;
    left: 45px;
    margin: 0;
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 16px;

}

.log-submit {
    width: 100%;
    height: 50px;
    border: none;
    background: url("../images/button5@2x.png") no-repeat;
    background-size: 100% 50px;
    color: #ec8a37;
    font-size: 16px;
    font-weight: bold;
}

.log-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.log-jump-icon {
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
}

.forget-pwd-jump {
    position: relative;
    left: 10%;
    display: inline;
}

.register-jump {
    display: inline;
    position: relative;
    left: 45%;
}

.forget-pwd-jump, .register-jump > span {
    color: #ffffff;
    font-size: 16px;
}

/* 注册 */
.register {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 80px;
}

.valid-btn[type=button] {
    position: absolute;
    right: 8px;
    height: 36px;
    width: 100px;
    margin-top: 7px;
    color: #f19329;
    font-size: 14px;
    background: url("../images/button10@2x.png");
    background-size: 100px 36px;
    border: none;
}

/* 发布货源 */
.publish-item {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ebebeb;
    background: #ffffff;
    position: relative;
}

.item-label {
    font-size: 14px;
    color: #313131;
    margin-left: 10px;
    height: 39px;
    line-height: 39px;
}

.item-input[type=text] {
    font-size: 14px;
    color: #313131;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    right: 10px;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.item-select[type=button] {
    font-size: 14px;
    color: #959595;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.item-select-div {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #313131;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    display: none;
}

.type-down-arrow {
    width: 12px;
    height: 6px;
    position: absolute;
    left: 200px;
    top: 17px;
}

.address-down-arrow {
    width: 12px;
    height: 6px;
    position: absolute;
    left: 280px;
    top: 17px;
}

.publish-add {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    background: #ffffff;
    position: relative;
    padding-bottom: 10px;
}

.item-hint {
    font-size: 14px;
    color: #959595;
    height: 39px;
    line-height: 39px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    right: 10px;
}

.pic-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.publish-pic {
    width: 33.3%;
    height: auto;
}

.publish-img {
    width: 100%;
    height: 60px;
    background: url("../images/add@2x.png");
    background-size: 100% 60px;
    border: none;
}

.publish-video {
    width: 100%;
    height: auto;
}

.publish-video-bg {
    width: 100%;
    height: 190px;
    margin-bottom: 5px;
}

.publish-product-desc {
    font-size: 14px;
}

.publish-btn {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: #e98c06;
    color: #ffffff;
    font-size: 16px;
}

.publish-word-count {
    font-size: 14px;
    color: #959595;
    position: absolute;
    right: 20px;
    bottom: 25px;
}

/* 发布采购 */
.buy-price-container {
    width: 100%;
    margin-left: 10px;
    height: 50px;
}

.buy-price-btn {
    font-size: 16px;
    color: #313131;
    display: inline;
    float: left;
    text-align: center;
    width: 30%;
    height: 40px;
    line-height: 40px;
    background: url("../images/button1@2x.png") no-repeat;
    background-size: 100% 40px;
}

.buy-price-btn-active {
    background: url("../images/button2@2x.png") no-repeat;
    background-size: 100% 40px;
    color: #ffffff;
}

.price-range {
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: url("../images/input@2x.png") no-repeat;
    background-size: 100% 50px;
    position: relative;
    display: none;
}

#lowest-price-input[type=number] {
    width: 45%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #313131;
    background: transparent;
    border: none;
    margin: 8px 0 0 0;
    padding: 0 0 0 20px;
}

#highest-price-input[type=number] {
    width: 45%;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #313131;
    background: transparent;
    border: none;
    margin: 8px 0 0 0;
    padding: 0 0 0 10px;
}

.open-switch {
    width: 50px;
    height: 25px;
    display: inline;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    background: url("../images/on@2x.png") no-repeat;
    background-size: 50px 25px;
}

.off-switch {
    width: 50px;
    height: 25px;
    display: inline;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
    background: url("../images/off@2x_9.png") no-repeat;
    background-size: 50px 25px;
}

/* 附近货源 */
.nearby-city {
    display: inline;
    float: right;
    margin-top: 11px;
}

.nearby-city > img {
    width: 10px;
    height: 6px;
}

.nearby-list {
    width: 100%;
    overflow-y: auto;
    background: #ffffff;
    border-top: 1px solid #e9e9e9;
}

/* 货源详情 */
.collection-img {
    float: right;
    margin-right: 10px;
    margin-top: 13px;
    width: 23px;
    height: 19px;
}

.supply-detail-tab {
    width: 100%;
    height: 40px;
    background: #ffffff;
    border-bottom: 1px solid #e9e9e9;
}

.supply-detail-sub {
    display: inline;
    float: left;
    width: 50%;
    height: 40px;
    position: relative;
}

.supply-sub-title {
    width: 70px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #313131;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.supply-sub-title-active {
    color: #e98c06;
    border-bottom: 2px solid #e98c06;
}

.sup-detail-name-container {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
}

.sup-detail-name {
    width: 65%;
    color: #313131;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sup-detail-price {
    width: 30%;
    color: #ff0000;
    font-size: 16px;
    position: absolute;
    left: 70%;
    top: 0%;
    bottom: 0%;
    text-align: right;
    padding-right: 10px;
}

.sup-info-img {
    width: 5px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 9px;
}

.sup-info-title {
    height: 39px;
    line-height: 39px;
    font-size: 14px;
    color: #313131;
    font-weight: bold;
    margin-left: 25px;
}

.sup-detail-item {
    font-size: 14px;
    color: #313131;
    height: 39px;
    line-height: 39px;
    margin-left: 10px;
}

.right-arrow {
    width: 6px;
    height: 12px;
}

.sup-detail-intro {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #313131;
    background: #ffffff;
    border-bottom: 1px solid #ebebeb;
}

/* 采购详情 */
#buy-detail-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.phone-btn {
    background: url("../images/button7@2x.png") no-repeat;
    background-size: 90px 30px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    display: inline;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    text-align: center;
}

.phone-pic {
    width: 15px;
    height: 15px;
    margin-bottom: -3px;
}

.buy-intro {
    width: 100%;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
    color: #313131;
}

.buy-intro-info {
    margin-top: -10px;
}