<div ng-controller="homeCtrl" style="position: relative; z-index: 1; background: #efeff4">
    <header class="home-header">
        <div class="city">
            <span id="cityName" class="city-name">未定位</span>
            <img src="images/arrow@2x.png"/>
        </div>
        <div class="home-search">
            <img id="home-search" src="images/search@2x.png"/>
            <input type="text" placeholder="请输入您要找的木材"/>
        </div>
        <div class="customer">
            <img id="contact" src="images/customer@2x.png"/>
        </div>
    </header>
    <a href="views/login.html" style="color:#000000; position: absolute; top: 60px; left: 10px; z-index: 5">
        登录/注册
    </a>
    <div>
        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop" style="height: 160px;">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="images/yuantiao.jpg">
                    </a>
                </div>
                <!-- 第一张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="images/shuijiao.jpg">
                    </a>
                </div>
                <!-- 第二张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="images/muwu.jpg">
                    </a>
                </div>
                <!-- 第三张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="images/cbd.jpg">
                    </a>
                </div>
                <!-- 第四张 -->
                <div class="mui-slider-item">
                    <a href="#">
                        <img src="images/yuantiao.jpg">
                    </a>
                </div>
                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
                <div class="mui-slider-item mui-slider-item-duplicate">
                    <a href="#">
                        <img src="images/shuijiao.jpg">
                    </a>
                </div>
            </div>
            <div class="mui-slider-indicator">
                <div class="mui-indicator mui-active"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
            </div>

        </div>
    </div>
    <div>
        <a class="home-mid" href="views/publish-supply.html">
            <img class="home-icon" src="images/icon1@2x.png"/>
            <span class="home-func-name">发布货源</span>
        </a>
        <a class="home-mid" href="views/publish-buy.html">
            <img class="home-icon" src="images/icon2@2x_3.png"/>
            <span class="home-func-name">发布采购</span>
        </a>
        <a class="home-mid" href="views/nearby-supply.html">
            <img class="home-icon" src="images/icon3@2x_5.png"/>
            <span class="home-func-name">附近货源</span>
        </a>
        <a class="home-mid">
            <img class="home-icon" src="images/icon4@2x_7.png"/>
            <span class="home-func-name">木材商城</span>
        </a>
    </div>

    <div class="home-list">
    </div>
</div>