<div ng-controller="supplyCtrl">
    <header class="home-header">
        <div class="supply-search">
            <img id="supply-search" src="images/search@2x.png"/>
            <input type="text" placeholder="请输入您要找的木材"/>
        </div>
        <div class="supply-header-search">搜索</div>
    </header>
    <div class="select">
        <a id="supply-type-name" class="select-item">
            <span class="select-name">品名</span>
            <img src="images/lower@2x.png"/>
        </a>
        <a id="supply-city-name" class="select-item">
            <span class="select-name">城市</span>
            <img src="images/lower@2x.png"/>
        </a>
        <a id="supply-sort" class="select-item">
            <span class="select-name">排序</span>
            <img src="images/lower@2x.png"/>
        </a>
    </div>
    <div class="menu-all">
        <div class="select-menu">
            <div class="select-list">
                <ul class="menu-first">
                    <li>
                        <span class="menu-type">全部</span>
                        <img class="menu-left-arrow" src="images/arrow4@2x.png">
                    </li>
                    <li>
                        <span class="menu-type">红木</span>
                        <img class="menu-left-arrow" src="images/arrow4@2x.png">
                    </li>
                    <li>
                        <span class="menu-type">家具用料</span>
                        <img class="menu-left-arrow" src="images/arrow4@2x.png">
                    </li>
                    <li>
                        <span class="menu-type">建筑用料</span>
                        <img class="menu-left-arrow" src="images/arrow4@2x.png">
                    </li>
                    <li>
                        <span class="menu-type">人造板</span>
                        <img class="menu-left-arrow" src="images/arrow4@2x.png">
                    </li>
                    <li>
                        <span class="menu-type">其他</span>
                        <img class="menu-left-arrow" src="images/arrow4@2x.png">
                    </li>
                </ul>
            </div>
            <div class="select-list">
                <ul class="menu-second">
                    <li>list2-item1</li>
                    <li>list2-item2</li>
                    <li>list2-item3</li>
                    <li>list2-item4</li>
                    <li>list2-item5</li>
                    <li>list2-item6</li>
                    <li>list2-item3</li>
                    <li>list2-item4</li>
                    <li>list2-item5</li>
                    <li>list2-item6</li>
                </ul>
            </div>
        </div>
    </div>

    <ul id="supply-list">
        <li class="supply-item" ng-repeat="item in lastestSupplyList">
            <a href="views/supply-detail.html">
                <div class="supply-item-pic">
                    <img class="supply-item-img" src="{{item.pic}}"/>
                </div>
                <div class="supply-item-info">
                    <div class="supply-item-title">{{item.title}}</div>
                    <div class="supply-item-price">￥{{item.price}}</div>
                    <div class="supply-item-seller">{{item.seller}}</div>
                    <div class="supply-item-time">{{item.time}}</div>
                </div>
            </a>
        </li>
    </ul>

</div>

