<ion-tabs class="tabs-icon-top" style="background: #ffffff">

    <ion-tab title="首页" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="最新货源" href="#/tab/about">
        <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="最新采购" href="#/tab/about">
        <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物车" href="#/tab/about">
        <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" href="#/tab/about">
        <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>